<%= form_for @vehicle do |f| %>
  <p>
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :make, "Make" %><br />
    <%= f.text_field :make %>
  </p>
  <p>
    <%= f.label :model, "Model" %><br />
    <%= f.text_field :model %>
  </p>
  <p>
    <%= f.label :year, "Year" %><br />
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label :engine_type, "Engine Type" %><br />
    <%= f.text_field :engine_type %>
  </p>

  <%= f.submit %>
<% end %>
